$fdf: 16;
$rem: 1rem;

.background-index {
  background-image: url('../../../assets/img/bgHome.png');
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-size: 125rem;
  .background-index-inside {
    // background-color: white;
    background-image: url('../../../assets/img/wallpaper.png');
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: (550 / $fdf) * $rem;
    font-size: 40px;
    flex-direction: column;
    font-weight: 300;
    color: #fff;
    .welcome {
      font-weight: bold;
      color: #fff;
    }
    .enjoy {
      font-weight: 300;
    }
  }
}
