$fdf: 16;
$rem: 1rem;

.confirm {
  background: url('../../../assets/img/bgHome.png');
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .confirm-content {
    display: flex;
    justify-content: center;
    align-items: center;
    // flex-direction: column;
    width: (820 / $fdf) * $rem;
    background-color: #fff;
    height: 100%;
    input {
      width: 400px;
      padding: 10px;
      border-radius: 10px;
      margin-bottom: 20px;
      border: 2px solid #000;
    }
    button {
      padding: 10px;
      font-size: 20px;
      border-radius: 10px;
      padding-left: 30px;
      padding-right: 30px;
      color: #fff;
      background-color: #38aae8;
    }
  }
  .confirm-password {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
  }
}
