.MuiTypography-caption {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rs-modal-dialog{
  margin-top: 100px;
} 
.bg-login{
  background: url(./assets/img/bg.jpg);
  background-size: cover;
}